* {
  background-color: #f0f8ff;
  color: rgb(23, 91, 114);
}

.main {
  font-family: "Inter", sans-serif;
  height: 100vh;
  padding-top: 80px;
  padding-left: 30px;
  padding-bottom: 50px;
}
.topo {
  display: flex;
  text-align: center;
  justify-content: space-between;
}

p,
h1 {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 30px;
}
.search {
  margin-right: 100px;
  float: right;
}

.container {
  margin-bottom: 50px;
  font-weight: bolder;
}

.dados {
  display: flex;
  align-items: center;
  font-weight: bold;
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  border-radius: 2%;
}
.data {
  display: flex;
  align-items: center;
  height: 60px;
  width: 60px;

  justify-content: center;
  border-radius: 50%;
  margin-right: 10vh;
  font-size: 20px;
  font-weight: bolder;
  font-family: cursive;
  background: lightgray;
}
@media screen and (max-width: 767px) {
  .container {
    flex-direction: column;
  }

  .cont2 {
    height: 350px;
  }
  #main {
    height: 100%;
  }
}
