<div class="main">
  <div class="topo">
    <div class="container">
      <h1>
        Previsão para 5 dias em
        {{ apiResult?.location?.name }}
      </h1>
    </div>
    <div class="search">
      <div>
        <input
          class="search_bar"
          placeholder="Cidade"
          (keyup.enter)="this.getForecast(city)"
          (keyup.enter)="city = ''"
          [(ngModel)]="city"
        />
        <button
          (click)="this.getForecast(city)"
          (click)="city = ''"
          (click)="ver()"
        >
          Procurar
        </button>
      </div>
    </div>
  </div>

  <div
    class="dados"
    *ngFor="let previsao of apiResult?.forecast?.forecastday; let i = index"
  >
    <p class="data">{{ forecastDates[i] }}</p>

    <div>
      <p>Clima: {{ apiResult?.current?.condition?.text }}</p>
      <p>Temperatura: {{ apiResult?.current?.temp_c }}ºC</p>
    </div>
    <img src="{{ apiResult?.current?.condition?.icon }}" alt="" />
  </div>
</div>
