<div class="main">
  <h1>Um pouco sobre mim:</h1>
  <div class="container">
    <img class="img" src="assets/foto_minha_cartoon.png" alt="" />

    <div class="line"></div>

    <div class="txt1">
      <p class="sub_title">Quem é Gabriel?</p>

      <p>
        Gabriel é uma pessoa extremamente amigável, comunicativo, criativo e
        persistente, que adora conhecer novas pessoas e aprender com elas.
        Amante de tecnologia e sua capacidade de auxiliar a vida das pessoas.
      </p>
    </div>
  </div>
  <div class="txt2">
    <p class="sub_title">Minha breve história na área de tecnologia.</p>

    <p>
      Minha trajetória profissional com programação teve início no ensino médio,
      durante o curso técnico de Eletroeletrônica, onde tive meu primeiro
      contato com a linguagem C. Mesmo sendo uma introdução ao assunto, a
      experiência despertou em mim um forte interesse pela área, que continuei a
      explorar ao longo da minha graduação em Gestão Empresarial. Durante o
      curso, aprofundei minhas habilidades no uso do EXCEL, uma ferramenta que,
      apesar de ser mais simples, exigia um bom raciocínio lógico, o que
      fortaleceu ainda mais minha paixão por tecnologia. Em 2022, decidi
      formalizar meus estudos em programação e desde então venho me
      especializando em diversas ferramentas e tecnologias, com o objetivo de
      otimizar processos e desenvolver soluções que tragam impacto positivo
      tanto para empresas quanto para as pessoas. Em 2024 iniciei a faculdade de
      Análise e Desenvolvimento de Sistemas na instituição FATEC, com a
      conclusão em 2026.
    </p>
  </div>
</div>
