/*Paginação*/
.pagination {
  display: flex;
  justify-content: center;
  margin: 0px;
  align-items: center;
}

.pagination li {
  border: 1px solid rgba(0, 0, 0, 0.301);
  border-radius: 3px;
  min-width: 50px;
  line-height: 40px;
  text-align: center;
  margin: 1px;
  font-weight: 700;
  color: rgb(69, 121, 180);
  font-size: 25px;
  user-select: none;
  list-style-type: none;
  background-color: white;
  cursor: pointer;
}

.pagination li :hover {
  background-color: #cfcece;
  display: block;
}

.atual {
  background-color: #cfcece;
}

.li2 {
  width: 120px;
}

.list {
  height: 70px;
  align-items: center;
}

/*Cards*/
.card {
  padding-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.box {
  background-color: white;
  width: 18rem; /* Define a largura do card */
  border: 1px solid black; /* Borda escura (equivalente a border-dark) */
  border-radius: 8px; /* Bordas levemente arredondadas */
  margin: 8px; /* Equivalente a mx-2 my-2 (8px de margem) */
}

.card-title {
  margin: 16px;
  font-size: 1.25rem;
  font-family: "Courier New", Courier, monospace;
}

img {
  width: 100%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.card-ul {
  border-top: 1px solid black;
  font-family: "Courier New", Courier, monospace;
  padding-left: 10px;

  font-size: 1.1rem;
}

.card-li {
  user-select: none;
  list-style: none;
  background-color: white;
  margin: 8px;
}
